/* slider.css */

.content-slider {
	display: flex;
	flex-direction: column; /* Stack vertically */
	align-items: center; /* Center each item horizontally */
	justify-content: center;
	gap: 1rem; /* Space between cards */
	width: 100%;
	overflow-y: auto;
	padding: 1rem 0;
}

.slide-item {
	width: 74%;
}

@media (max-width: 768px) {
	.slide-item {
		width: 100%;
	}
}
